name: update-metadata

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Update metadata
        run: ./update.py | tee result.txt

      - name: Read result.txt
        id: result
        uses: juliangruber/read-file-action@v1
        with:
          path: ./result.txt
          trim: true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          title: "metadata.json: Update"
          body: |
            ```
            ${{ steps.result.outputs.content }}
            ```
          commit-message: |
            metadata.json: Update

            ${{ steps.result.outputs.content }}

          author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          committer: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"

          branch: "update_metadata"
          delete-branch: true
